 <div class="buttons">
  <% if user_signed_in? %>
    <%= link_to 'Back', petitions_path , class: 'left' %>
  <% else %>  
    <%= link_to 'Back', root_path , class: 'left' %>
  <% end %>  
  <%= link_to 'Edit', edit_petition_path(@petition) , class: 'right' %>
</div>
 <div class="container">  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @petition.name %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= @petition.identity %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @petition.date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @petition.email %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @petition.direccion %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= @petition.country %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= @petition.city %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @petition.description %>
  </p>
  
  <% if user_signed_in? %>
    <p>
      <strong>Respuesta:</strong>
      <%= @petition.amswer %>
    </p>
  <% end %>  

</div>


