<!DOCTYPE html>
<html>
  <head>
    <title>Petitions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  </head>

  <body>
 <header>
  <%= link_to root_path  do %>
      <%= image_tag "logo.png" %>
  <% end %>
 </header>
 
    <%= yield %>

  </body>
</html>
